<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DAO">
  <test name="Contract">
    <classes>
       <class name="org.badcoding.ContractDAOImplTest" />
    </classes>
  </test>
  <test name="Customer">
    <classes>
       <class name="org.badcoding.CustomerDAOImplTest" />
    </classes>
  </test>
  <test name="Event">
    <classes>
       <class name="org.badcoding.EventDAOImplTest" />
    </classes>
  </test>
  <test name="Service">
    <classes>
       <class name="org.badcoding.ServiceDAOImplTest" />
    </classes>
  </test>
  <test name="Tariff">
    <classes>
       <class name="org.badcoding.TariffDAOImplTest" />
    </classes>
  </test>
  <test name="User">
    <classes>
       <class name="org.badcoding.UserDAOImplTest" />
    </classes>
  </test>
</suite>
